@import '../../../../utils/config.scss';

.dashboard-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, spacing(34));
  grid-auto-rows: spacing(22);
  grid-gap: $spacingNormal;
}

.dashboard-layout__element {
  background-color: rgb(240, 240, 240);
  overflow: hidden;
  position: relative;
  &:hover {
    text-decoration: underline;
  }
}

.dashboard-layout__element--primary {
  @include atDesktop {
      grid-column: 1/3;
      grid-row: 1/3;
  }
}

.dashboard-layout__element-link {
  text-decoration: inherit;
}

.dashboard-layout__element-image {
  width: 100%;
}

.dashboard-layout__element-title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: $spacingSmall;
  text-shadow: $textShadow;
  font-size: $fontSizeNormal;
  font-weight: $fontWeightBold;
  color: $colorWhite;
  background-color:rgba(0, 0, 0, 0.5);
  text-decoration: inherit;
}